.todoList-section{
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
max-width: 400px;
height: auto;
}
.todoList-section__ul{
   display: flex;
   flex-direction: column;
    width: 100%;
}