.TodoForm-container{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 75%;
    margin: 0 auto;
    background-color: white;
}
label,
textarea{
    width: 120px;
    height: auto;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
}
textarea{
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  min-height: 60px;
  width: 90%;
}
.TodoForm-container div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;

}
.button{
    width: calc(45%);
    max-width: 100px;
    height: auto;
    margin: 40px auto;
   
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.button:hover{
    transform: scale(1.3);
}
.createButton{
    background-color: blue;
    color: white;
}
.closeButton{
    background-color: yellow;
    color: black;
}