.TodoLoading-container{
    display: flex;
    width: 90vw;
    height: 60vh;
    position: relative;
    margin: 0 auto;
    background-color: darkgrey;
    z-index: 10;
   
}
.TodoLoading-container__fakeTodo{
    position: absolute;
    top: calc(-85px);
    left: calc(2%);
    width: 90%;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(109, 109, 104);;
}
.TodoLoading-container__loader{
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: yellow;
  animation: load .3s infinite;
}
.one{
   top:72px;
   left: 246px;
   animation-delay: .1s;
}
.two{
    top:147px;
    left: 246px;
    animation-delay: .2s;
 }
 .three{
    top:148px;
    left: 116px;
    animation-delay: .3s;
 }
 .four{
    top:72px;
    left: 116px;
    animation-delay: .4s;
 }

 @keyframes load{
    0%,100%{
       opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
 }