.TodoLoading-container{
    display: flex;
    width: 90vw;
    height: 60vh;
    position: relative;
    margin: 0 auto;
   
    z-index: 10;
   
}
.TodoLoading-container__fakeTodo{
    position: absolute;
    top: calc(-85px);
    left: calc(2%);
    width: 90%;
    max-width: 500px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(109, 109, 104);
}
.TodoLoading-container__loader{
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color:  rgb(109, 109, 104);
  animation: load .3s infinite;
}
.one{
   top:calc(20%);
   left: calc(25%);
   animation-delay: .1s;
}
.two{
   top:calc(20%);
   left: calc(40%);
    animation-delay: .2s;
 }
 .three{
   top:calc(40%);
   left: calc(25%);
    animation-delay: .3s;
 }
 .four{
   top:calc(40%);
   left: calc(40%);
    animation-delay: .4s;
 }
 .five{
   top:calc(30%);
   left: calc(32%);
    animation-delay: .1s;
 }

 @keyframes load{
    0%,100%{
       opacity: 0.4;
    }
    50%{
        opacity: 1;
    }
 }